body{
    padding: 0;
    margin: 0;
}
.ball{
    background-color: greenyellow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 200px;
    animation-fill-mode: backwards;
    animation: fall 4s infinite;
}
@keyframes fall{
    0%{
        height: 50px;
        width: 50px;
    }
    40%{
        height:50px;
        width: 50px;
    }
    47%{
        opacity: 1;
    }
    47.25%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        height:50px;
        width: 50px;
        transform: translateY(350px);
    }
}
.bg{
    background-color: rgb(224,98,164);
    height: 600px;
    width: 600px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: change 4s infinite;
}
@keyframes change{
    0%{
        background-image: url("monster1.svg");
    }
    10%{
        background-image: url("moster2.svg");
    }
    45%{
        background-image: url("moster2.svg");
    }
    50%{
        background-image: url("moster2.svg");
    }
    60%{
        background-image: url("moster2.svg");
    }
    65%{
        background-image: url("monster1.svg");
    }
    100%{
        background-image: url("monster1.svg");
    }
}

   