@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    width: 100vw;
    height: 100vh; 
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF66C4;
    background-image: url(cone.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
}

#view {
    margin-top: 90px;
}

#mazeContainer {
    top: 25px;
    opacity: 0;
    display: inline-block;
    margin: auto;
    background-color: beige;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border-radius: 0; 
    border: solid 3px black;
    height: 550px;
}
input, select {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 5px;
    margin-bottom: -50px;
    background-color: rgb(135, 24, 92);
    height: 65px;
    width: 125px;
    padding: 10px;
    border: none;
    color: beige;
    display: inline-block;
    font-size: 20px;
    text-align: center;

}
input:hover, select:hover {
	background-color: rgb(0, 0, 0);
}
input:active, select:active {
	background-color: black;
}
input:focus, select:focus {
	outline: none;
}
.custom-select {
	display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}
#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(211, 10, 148, 0.8);
    z-index: 1;
}
#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
#page {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 100px;
    /* height: 65px; */
    box-sizing: border-box;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}
.border {
    border: 10px black solid;
    border-radius: 10px;
}
 
